
project1/data/.DS_Store

project1/texproject/.DS_Store

project1/.DS_Store

project1/noteEx.cpp

.DS_Store

project1/src/armadillo_solver.exe

project1/src/my_solver.exe

project3/flags.exe

project3/good.exe

project3/num_int.exe

project3/parallel.exe
